.PanoFloorplanRadar {
  position: absolute;
  right: 32px;
  top: 48px;
  width: 100px;
  height: 120px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.45s;
  cursor: pointer;
}

.PanoFloorplanRadar--visible {
  opacity: 1;
}
